<p-panel>

  <p-header>
    <div *ngIf="makro">
      <h3>{{makro.name}}</h3>
    </div>
  </p-header>
  <div *ngIf="makro">
    <h4>WARTOŚCI ODŻYWCZE:</h4>
    <h5>Energia: {{makro.kcal}} kcal</h5>
  </div>
  <p-table [value]="tableData">
    <ng-template pTemplate="header">
      <tr>
        <th>Białko</th>
        <th>Węglowodany</th>
        <th>Tłuszcze</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-makro>
      <tr>
        <td>{{makro.protein | gramPipe}}</td>
        <td>{{makro.carbohydrate | gramPipe}}</td>
        <td>{{makro.fat | gramPipe}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>

  <p-chart type="pie" [data]="chartData" height="20vh"></p-chart>

  <h5>SKŁADNIKI:</h5>

  <p-table [value]="ingredients">
    <ng-template pTemplate="header">
      <tr>
        <th>Produkty</th>
        <th>Gramatura</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingredient>
      <tr>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.gram | gramPipe}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>

  <h5>SPOSÓB PRZYGOTOWANIA:</h5>

  <span *ngFor="let recip of recipe; index as i">
    {{i+1}}: {{ recip }}<br>
  </span>

  <p-footer>
    <button pButton type="button" icon="pi pi-file-pdf" label="Pobierz"
      class="ui-button-rounded ui-button-success"></button>
  </p-footer>
