<h1>Owsianka z bananem, suszonymi śliwkami i migdałami</h1>
<h3>WARTOŚCI ODŻYWCZE:</h3>
<br>
<h5>Energia: 575 kcal</h5>

<p-table [value]="makro">
    <ng-template pTemplate="header">
        <tr>
            <th>Białko</th>
            <th>Węglowodany</th>
            <th>Tłuszcze</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-makro>
        <tr>
            <td>{{makro.protein}}</td>
            <td>{{makro.carbohydrate}}</td>
            <td>{{makro.fat}}</td>
        </tr>
    </ng-template>
</p-table>
<br>

<h5>SKŁADNIKI:</h5>

<p-table [value]="ingredients">
    <ng-template pTemplate="header">
        <tr>
            <th>Product</th>
            <th>[g]</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingredient>
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.gram}}</td>
        </tr>
    </ng-template>
</p-table>
<br>

<h5>SPOSÓB PRZYGOTOWANIA:</h5>
1. Płatki owsiane zalej niewielką ilością wrzątku, tuż nad poziom płatków.<br>
2. Odstaw na 2-5 minut do napęcznienia.<br>
3. Dodaj jogurt, banana pokrojonego w plastry i suszone śliwki.<br>
4. Udekoruj danie posiekanymi migdałami.<br>